In [2]:
x=10
x

10

In [3]:
y=3.5
y

3.5

In [4]:
name= "balloon"
name

'balloon'

In [5]:
flag = True
flag

True

In [7]:
scores =[70,80,90]
scores

[70, 80, 90]

In [8]:
scores[0]

70

In [10]:
scores[0:2]

[70, 80]

In [11]:
scores.append(100)
scores

[70, 80, 90, 100]

In [13]:
student ={"name":["ann","balloon"],"age":20,"major":"Logistics"}
print(student["name"])

['ann', 'balloon']

In [31]:
score = 90
if score >= 80:
    grade = "A"
elif score >= 70:
    grade = "B"
else:
    grade = "C"  
    
    
grade

'A'

In [24]:
scores = [1,2,3]
for s in scores:
    print (s)

1
2
3

In [22]:
def bmi(weight,height):
    return weight/(height**2)
print(bmi(60,1.65))

22.03856749311295

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("salaries.csv")
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]